<div class="js-term">
  <ul id="short-term" class="clearfix">
  <% @short_term_features.each do |feature| %>
    <li draggable='true'>
      <!-- <%= link_to "Click this", {:controller => 'features', :action => "show", :id => feature.id}, :remote => true, :class => 'remote_link' %> -->
      <%= link_to feature_path(feature), :remote => true, :class => 'remote-link' do %>
        <%= image_tag(feature.icon) %>
        <h2><%= feature.name %></h2>
        <p><%= feature.summary %></p>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>

<div class="js-term">
  <ul class="long-term" class="clearfix">
    <h1>Long Term</h1>
  <% @long_term_features.each do |feature| %>
    <li draggable='true'>
      <%= link_to feature_path(feature), :remote => true, :class => 'remote-link' do %>
        <%= feature.name %>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>

<div class='js-term'>
  <ul class="mid-term" class="clearfix">
    <h1>Mid Term</h1>
  <% @mid_term_features.each do |feature| %>
    <li draggable='true'>
      <%= link_to feature_path(feature), :remote => true, :class => 'remote-link' do %>
        <%= feature.name %>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>

<div class="clearfix"></div>