<p id="notice"><%= notice %></p>

<p>
  <b>Icon:</b>
  <%= image_tag(@feature.icon) %>
</p>

<p>
  <b>Name:</b>
  <%= @feature.name %>
</p>

<p>
  <b>Summary:</b>
  <%= @feature.summary %>
</p>

<p>
  <b>Quote:</b>
  <%= @feature.quote %>
</p>

<p>
  <b>What:</b>
  <%= @feature.what %>
</p>

<p>
  <b>Who:</b>
  <%= @feature.who %>
</p>

<p>
  <b>Why:</b>
  <%= @feature.why %>
</p>

<p>
  <b>How:</b>
  <%= @feature.how %>
</p>


<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
